asgiref==3.5.2
autopep8==1.6.0
backports.zoneinfo==0.2.1
certifi==2020.6.20
Django==4.0.6
django-environ==0.9.0
django-multiselectfield==0.1.12
django-widget-tweaks==1.4.12
mysqlclient==2.1.1
pycodestyle==2.8.0
pytz==2020.1
sqlparse @ file:///tmp/build/80754af9/sqlparse_1602184451250/work
toml==0.10.2
tzdata==2022.2
Unidecode==1.3.4
wincertstore==0.2
